node_modules/
dist/
dist-ssr/
build/
*.local

.vite/

__pycache__/
*.py[cod]
*.egg-info/
.eggs/

.venv/
venv/
env/

*.db
*.sqlite
*.sqlite3

.env    

*.log
npm-debug.log*

.vscode/
.DS_Store
Thumbs.db
